{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Go Too Онлайн Платформа Курсов</title>
    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;600;700&display=swap"
          rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/tooplate-gotto-job.css' %}" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href={% url 'index' %}>
            <img src="{% static 'images/logo.png' %}" class="img-fluid logo-image">

            <div class="d-flex flex-column">
                <strong class="logo-text">Go Too</strong>
                <small class="logo-slogan">Образовательные курсы</small>
            </div>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav align-items-center ms-lg-5">
                <li class="nav-item">
                    <a class="nav-link active" href={% url 'index' %}>Главная</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href={% url 'about' %}>О нас</a>
                </li>

                <li class=" nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Курсы</a>

                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                        <li><a class="dropdown-item" href={% url 'listings' %}>Список курсов</a></li>

                        <li><a class="dropdown-item" href="job-details.html">Возможности курсов</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Контакты</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item ms-lg-auto">
                        <a class="nav-link" href="{% url 'profile' %}">Профиль</a>
                    </li>
                    <li class="nav-item">
                        <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                            {% csrf_token %}
                        </form>
                        <a class="nav-link custom-btn btn" href="#"
                           onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Выйти</a>
                    </li>
                {% else %}
                    <li class="nav-item ms-lg-auto">
                        <a class="nav-link" href={% url 'registration' %}>Регистрация</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link custom-btn btn" href={% url 'login' %}>Логин</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<main>
    <section class="job-section section-padding pb-0">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-12">
                    <h2 class="job-title mb-0">{{ course.title }}</h2>

                    <div class="job-thumb job-thumb-detail">

                        <h4 class="mt-4 mb-2">Описание курса</h4>

                        <p>{{ course.description }}</p>
                        <div class="d-flex justify-content-flex-start flex-wrap mt-5 pt-4">
                            <a href="{% url 'add_course_to_user' course.pk %}" class="custom-btn btn mt-2">Приобрести</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12 mt-5 mt-lg-0">
                    <div class="job-thumb job-thumb-detail-box bg-white shadow-lg">
                        <div class="d-flex align-items-center">
                            <div class="job-image-wrap d-flex align-items-center bg-white shadow-lg mb-3">
                                <img src="{{ course.mini_image_url|default:'static/images/jobs/default.jpg' }}"
                                     class="job-image me-3 img-fluid" alt="">

                                <p class="mb-0">Курс на {{ course.title }}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <footer class="site-footer">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 col-12 mb-3">
                    <div class="d-flex align-items-center mb-4">
                        <img src="{% static 'images/logo.png' %}" class="img-fluid logo-image">

                        <div class="d-flex flex-column">
                            <strong class="logo-text">Go Too</strong>
                            <small class="logo-slogan">Образовательные курсы</small>
                        </div>
                    </div>

                    <p class="mb-2">
                        <i class="custom-icon bi-globe me-1"></i>

                        <a href="#" class="site-footer-link">
                            www.jobbportal.com
                        </a>
                    </p>

                    <p class="mb-2">
                        <i class="custom-icon bi-telephone me-1"></i>

                        <a href="tel: 305-240-9671" class="site-footer-link">
                            305-240-9671
                        </a>
                    </p>

                    <p>
                        <i class="custom-icon bi-envelope me-1"></i>

                        <a href="mailto:info@yourgmail.com" class="site-footer-link">
                            info@jobportal.co
                        </a>
                    </p>

                </div>

                <div class="col-lg-2 col-md-3 col-6 ms-lg-auto">
                    <h6 class="site-footer-title">Компании</h6>

                    <ul class="footer-menu">
                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">О нас</a></li>

                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Блог</a></li>

                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Курсы</a></li>

                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Контакты</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-3 col-6">
                    <h6 class="site-footer-title">Ресурсы</h6>

                    <ul class="footer-menu">
                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Гайд</a></li>

                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Как это работает</a></li>

                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Выбрать курс</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-8 col-12 mt-3 mt-lg-0">
                    <h6 class="site-footer-title">Новости</h6>

                    <form class="custom-form newsletter-form" action="#" method="post" role="form">
                        <h6 class="site-footer-title">Получайте уведомления о новостях</h6>

                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="bi-person"></i></span>

                            <input type="text" name="newsletter-name" id="newsletter-name" class="form-control"
                                   placeholder="yourname@gmail.com" required>

                            <button type="submit" class="form-control">
                                <i class="bi-send"></i>
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <div class="site-footer-bottom">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-12 d-flex align-items-center">
                        <p class="copyright-text">Copyright © Go Too</p>

                        <ul class="footer-menu d-flex">
                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Privacy Policy</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Terms</a></li>
                        </ul>
                    </div>
                    <a class="back-top-icon bi-arrow-up smoothscroll d-flex justify-content-center align-items-center"
                       href="#top"></a>

                </div>
            </div>
        </div>
    </footer>
    <!-- JAVASCRIPT FILES -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/counter.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>