
{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Go Too Онлайн Платформа Курсов</title>
    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;600;700&display=swap"
          rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/tooplate-gotto-job.css' %}" rel="stylesheet">
</head>

<body id="top">

<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href={% url 'index' %}>
            <img src="{% static 'images/logo.png' %}" class="img-fluid logo-image">

            <div class="d-flex flex-column">
                <strong class="logo-text">Go Too</strong>
                <small class="logo-slogan">Образовательные курсы</small>
            </div>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav align-items-center ms-lg-5">
                <li class="nav-item">
                    <a class="nav-link active" href={% url 'index' %}>Главная</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href={% url 'about' %}>О нас</a>
                </li>

                <li class=" nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Курсы</a>

                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                        <li><a class="dropdown-item" href={% url 'listings' %}>Список курсов</a></li>

                        <li><a class="dropdown-item" href="job-details.html">Возможности курсов</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Контакты</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item ms-lg-auto">
                        <a class="nav-link" href="{% url 'profile' %}">Профиль</a>
                    </li>
                    <li class="nav-item">
                        <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                            {% csrf_token %}
                        </form>
                        <a class="nav-link custom-btn btn" href="#"
                           onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Выйти</a>
                    </li>
                {% else %}
                    <li class="nav-item ms-lg-auto">
                        <a class="nav-link" href={% url 'registration' %}>Регистрация</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link custom-btn btn" href={% url 'login' %}>Логин</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<main>
    <section class="hero-section d-flex justify-content-center align-items-center">
        <div class="section-overlay"></div>

        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                    <div class="hero-section-text mt-5">
                        <h6 class="text-white">Вы ищете работу своей мечты?</h6>

                        <h1 class="hero-title text-white mt-4 mb-4">Онлайн платформа. <br> Лучший портал курсов</h1>

                        <a href="#categories-section" class="custom-btn custom-border-btn btn">Категории</a>
                    </div>
                </div>

                <div class="col-lg-6 col-12">
                    <form class="custom-form hero-form" action="#" method="get" role="form">
                        <h3 class="text-white mb-3">Найди работу своей мечты</h3>

                        <div class="row">
                            <div class="col-lg-12 col-12">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="bi-person custom-icon"></i></span>

                                    <input type="text" name="job-title" id="job-title" class="form-control"
                                           placeholder="Название курса" required>
                                </div>
                            </div>

                            <div class="col-lg-12 col-12">
                                <button type="submit" class="form-control">
                                    Найти курс
                                </button>
                            </div>

                            <div class="col-12">
                                <div class="d-flex flex-wrap align-items-center mt-4 mt-lg-0">
                                    <span class="text-white mb-lg-0 mb-md-0 me-2">Популярные запросы:</span>

                                    <div>
                                        <a href="{% url 'listings' %}" class="badge">Веб дизайн</a>

                                        <a href="{% url 'listings' %}" class="badge">Маркетинг</a>

                                        <a href="{% url 'listings' %}" class="badge">Служба поддержки</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>


    <section class="categories-section section-padding" id="categories-section">
        <div class="container">
            <div class="row justify-content-center align-items-center">

                <div class="col-lg-12 col-12 text-center">
                    <h2 class="mb-5">Посмотреть по <span>Категориям</span></h2>
                </div>

                <div class="col-lg-2 col-md-4 col-6">
                    <div class="categories-block">
                        <a href="#" class="d-flex flex-column justify-content-center align-items-center h-100">
                            <i class="categories-icon bi-window"></i>

                            <small class="categories-block-title">Веб дизайн</small>

                            <div class="categories-block-number d-flex flex-column justify-content-center align-items-center">
                                <span class="categories-block-number-text">320</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-6">
                    <div class="categories-block">
                        <a href="#" class="d-flex flex-column justify-content-center align-items-center h-100">
                            <i class="categories-icon bi-twitch"></i>

                            <small class="categories-block-title">Маркетинг</small>

                            <div class="categories-block-number d-flex flex-column justify-content-center align-items-center">
                                <span class="categories-block-number-text">180</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-6">
                    <div class="categories-block">
                        <a href="#" class="d-flex flex-column justify-content-center align-items-center h-100">
                            <i class="categories-icon bi-play-circle-fill"></i>

                            <small class="categories-block-title">Видео</small>

                            <div class="categories-block-number d-flex flex-column justify-content-center align-items-center">
                                <span class="categories-block-number-text">340</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-6">
                    <div class="categories-block">
                        <a href="#" class="d-flex flex-column justify-content-center align-items-center h-100">
                            <i class="categories-icon bi-globe"></i>

                            <small class="categories-block-title">Вебсайты</small>

                            <div class="categories-block-number d-flex flex-column justify-content-center align-items-center">
                                <span class="categories-block-number-text">140</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-6">
                    <div class="categories-block">
                        <a href="#" class="d-flex flex-column justify-content-center align-items-center h-100">
                            <i class="categories-icon bi-people"></i>

                            <small class="categories-block-title">Поддержка</small>

                            <div class="categories-block-number d-flex flex-column justify-content-center align-items-center">
                                <span class="categories-block-number-text">84</span>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="about-section">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-12">
                    <div class="about-image-wrap custom-border-radius-start">
                        <img src="{% static 'images/professional-asian-businesswoman-gray-blazer.jpg' %}"
                             class="about-image custom-border-radius-start img-fluid" alt="">

                        <div class="about-info">
                            <h4 class="text-white mb-0 me-2">Юлия Вард</h4>
                            <p class="text-white mb-0">Инвестор</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="custom-text-block">
                        <h2 class="text-white mb-2">Введение</h2>

                        <p class="text-white">Исследуйте мир знаний с нашими онлайн курсами! Уникальные программы от
                            ведущих экспертов, гибкий доступ и актуальные темы. Начните учиться сейчас!</p>

                        <div class="custom-border-btn-wrap d-flex align-items-center mt-5">
                            <a href="about.html" class="custom-btn custom-border-btn btn me-4">О нас</a>

                            <a href="#job-section" class="custom-link smoothscroll">Изучить курсы</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-12">
                    <div class="instagram-block">
                        <img src="{% static 'images/horizontal-shot-happy-mixed-race-females.jpg' %}"
                             class="about-image custom-border-radius-end img-fluid" alt="">

                        <div class="instagram-block-text">
                            <a href="https://instagram.com/" class="custom-btn btn">
                                <i class="bi-instagram"></i>
                                @Gotto
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="job-section job-featured-section section-padding" id="job-section">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12 text-center mx-auto mb-4">
                    <h2>Рекомендуемые курсы</h2>

                    <p><strong>Более десятка разнообразных курсов</strong> которые помогут открыть дорогу в IT и стать
                        ведущим специалистом.</p>
                </div>

                <div class="col-lg-12 col-12">
                    {% for course in courses %}
                        <div class="job-thumb d-flex mb-4">
                            <div class="job-image-wrap bg-white shadow-lg">
                                <img src="{% static 'images/logos/default.png'  %}"
                                     class="job-image img-fluid" alt="{{ course.title }}">
                            </div>

                            <div class="job-body d-flex flex-wrap flex-auto align-items-center ms-4">
                                <div class="mb-3">
                                    <h4 class="job-title mb-lg-0">
                                        <a href="job-details.html" class="job-title-link">{{ course.title }}</a>
                                    </h4>

                                    <div class="d-flex flex-wrap align-items-center">
                                        <p class="job-date mb-0">
                                            <i class="custom-icon bi-clock me-1"></i>
                                            {{ course.duration_hours }} час(ов)
                                        </p>

                                        <p class="job-price mb-0 ms-3">
                                            <i class="custom-icon bi-cash me-1"></i>
                                            {{ course.price }}₽
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="job-section-btn-wrap ms-auto">
                                <a href="job-details.html" class="custom-btn btn">Попробовать</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</main>
<section>
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">
                <div class="custom-text-block custom-border-radius-start">
                    <h2 class="text-white mb-3">Gotto поможет вам найти новую работу проще</h2>

                    <p class="text-white">Дать возможность каждому быть актуальным и востребованным специалистом
                        прямо сейчас. Вне зависимости от возраста и географии.</p>

                    <div class="d-flex mt-4">
                        <div class="counter-thumb">
                            <div class="d-flex">
                                <span class="counter-number" data-from="1" data-to="12" data-speed="1000"></span>
                                <span class="counter-number-text">M</span>
                            </div>

                            <span class="counter-text">Посещений</span>
                        </div>

                        <div class="counter-thumb">
                            <div class="d-flex">
                                <span class="counter-number" data-from="1" data-to="450" data-speed="1000"></span>
                                <span class="counter-number-text">k</span>
                            </div>

                            <span class="counter-text">Вакансий</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="video-thumb">
                    <img src="{% static 'images/people-working-as-team-company.jpg' %}"
                         class="about-image custom-border-radius-end img-fluid" alt="">

                    <div class="video-info">
                        <a href="https://www.youtube.com/tooplate" class="youtube-icon bi-youtube"></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="job-section recent-jobs-section section-padding">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6 col-12 mb-4">
                <h2>Недавние курсы</h2>

                <p><strong>Более десятка новых курсов</strong></p>
            </div>

            <div class="clearfix"></div>
            {% for course in courses|dictsort:"title" %}
                {% ifchanged course.title %}
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="job-thumb job-thumb-box">
                            <div class="job-image-box-wrap">
                                <a href="">
                                    <img src="{{ course.image_url|default:'static/images/jobs/default.jpg' }}"
                                         class="job-image img-fluid" alt="">
                                </a>
                            </div>

                            <div class="job-body">
                                <h4 class="job-title">
                                    <a href="" class="job-title-link">{{ course.title }}</a>
                                </h4>

                                <div class="d-flex align-items-center">
                                    <a href="#" class="bi-bookmark ms-auto me-2">
                                    </a>
                                    <a href="#" class="bi-heart">
                                    </a>
                                </div>

                                <div class="d-flex align-items-center">
                                    <p class="job-date">
                                        <i class="custom-icon bi-clock me-1"></i>
                                        {{ course.duration_hours }} час(ов)
                                    </p>
                                </div>

                                <div class="d-flex align-items-center border-top pt-3">
                                    <p class="job-price mb-0">
                                        <i class="custom-icon bi-cash me-1"></i>
                                        {{ course.price }}₽
                                    </p>

                                    <a href="" class="custom-btn btn ms-auto">Попробовать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endifchanged %}
            {% empty %}
                <p>Курсы не найдены</p>
            {% endfor %}
        </div>
    </div>
</section>


<section class="reviews-section section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <h2 class="text-center mb-5">Отзывы</h2>

                <div class="owl-carousel owl-theme reviews-carousel">
                    <div class="reviews-thumb">

                        <div class="reviews-info d-flex align-items-center">
                            <img src="{% static 'images/avatar/portrait-charming-middle-aged-attractive-woman-with-blonde-hair.jpg' %}"
                                 class="avatar-image img-fluid" alt="">

                            <div class="d-flex align-items-center justify-content-between flex-wrap w-100 ms-3">
                                <p class="mb-0">
                                    <strong>Света Л</strong>
                                    <small>Product Manager</small>
                                </p>

                                <div class="reviews-icons">
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                </div>
                            </div>
                        </div>

                        <div class="reviews-body">
                            <img src="{% static 'images/left-quote.png' %}' %}" class="quote-icon img-fluid"
                                 alt="">

                            <h4 class="reviews-title">Благодаря этим курсам я смогла стать Product Manager, хотя
                                раньше работала швеей.</h4>
                        </div>
                    </div>

                    <div class="reviews-thumb">
                        <div class="reviews-info d-flex align-items-center">
                            <img src="{% static 'images/avatar/medium-shot-smiley-senior-man.jpg' %}"
                                 class="avatar-image img-fluid" alt="">

                            <div class="d-flex align-items-center justify-content-between flex-wrap w-100 ms-3">
                                <p class="mb-0">
                                    <strong>Жека</strong>
                                    <small>Technical Lead</small>
                                </p>

                                <div class="reviews-icons">
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star"></i>
                                    <i class="bi-star"></i>
                                </div>
                            </div>
                        </div>

                        <div class="reviews-body">
                            <img src="{% static 'images/left-quote.png' %}" class="quote-icon img-fluid" alt="">

                            <h4 class="reviews-title">Ушел с завода, попробовал курс от GOTTO и уже через пол года
                                стал техлидом.</h4>
                        </div>
                    </div>

                    <div class="reviews-thumb">

                        <div class="reviews-info d-flex align-items-center">
                            <img src="{% static 'images/avatar/portrait-beautiful-young-woman.jpg' %}"
                                 class="avatar-image img-fluid" alt="">

                            <div class="d-flex align-items-center justify-content-between flex-wrap w-100 ms-3">
                                <p class="mb-0">
                                    <strong>Надежда</strong>
                                    <small>Sales & Marketing</small>
                                </p>

                                <div class="reviews-icons">
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                </div>
                            </div>
                        </div>

                        <div class="reviews-body">
                            <img src="{% static 'images/left-quote.png' %}" class="quote-icon img-fluid" alt="">

                            <h4 class="reviews-title">Попробовала курсы, спустя несколько месяцев попросила
                                повышенние на своей работе.</h4>
                        </div>
                    </div>

                    <div class="reviews-thumb">
                        <div class="reviews-info d-flex align-items-center">
                            <img src="{% static 'images/avatar/blond-man-happy-expression.jpg' %}"
                                 class="avatar-image img-fluid" alt="">

                            <div class="d-flex align-items-center justify-content-between flex-wrap w-100 ms-3">
                                <p class="mb-0">
                                    <strong>Кирилл</strong>
                                    <small>Dev Ops</small>
                                </p>

                                <div class="reviews-icons">
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star"></i>
                                    <i class="bi-star"></i>
                                </div>
                            </div>
                        </div>

                        <div class="reviews-body">
                            <img src="{% static 'images/left-quote.png' %}" class="quote-icon img-fluid" alt="">

                            <h4 class="reviews-title">АЛАЛАЛАЛАЛАЛАЛАЛАЛАЛАЛ</h4>
                        </div>
                    </div>

                    <div class="reviews-thumb">
                        <div class="reviews-info d-flex align-items-center">
                            <img src="{% static 'images/avatar/university-study-abroad-lifestyle-concept.jpg' %}"
                                 class="avatar-image img-fluid" alt="">

                            <div class="d-flex align-items-center justify-content-between flex-wrap w-100 ms-3">
                                <p class="mb-0">
                                    <strong>Николай</strong>
                                    <small>Internship</small>
                                </p>

                                <div class="reviews-icons">
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                </div>
                            </div>
                        </div>

                        <div class="reviews-body">
                            <img src="{% static 'images/left-quote.png' %}" class="quote-icon img-fluid" alt="">

                            <h4 class="reviews-title">Я устал писать отзывы, мяу.</h4>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="cta-section">
    <div class="section-overlay"></div>

    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-10">
                <h2 class="text-white mb-2">Открой более десятка тысяч вакансий</h2>

                <p class="text-white">Онлайн-курсы IT-профессий для начинающих. Большой выбор курсов с нуля по
                    различным направлениям: основы программирования, дизайн, аналитика данных, маркетинг,
                    менеджмент.</p>
            </div>

            <div class="col-lg-4 col-12 ms-auto">
                <div class="custom-border-btn-wrap d-flex align-items-center mt-lg-4 mt-2">
                    <a href="#" class="custom-btn custom-border-btn btn me-4">Создать аккаунт</a>

                    <a href="#" class="custom-link">Поробовать курс</a>
                </div>
            </div>

        </div>
    </div>
</section>
</main>
</section>
<footer class="site-footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6 col-12 mb-3">
                <div class="d-flex align-items-center mb-4">
                    <img src="{% static 'images/logo.png' %}" class="img-fluid logo-image">

                    <div class="d-flex flex-column">
                        <strong class="logo-text">Go Too</strong>
                        <small class="logo-slogan">Образовательные курсы</small>
                    </div>
                </div>

                <p class="mb-2">
                    <i class="custom-icon bi-globe me-1"></i>

                    <a href="#" class="site-footer-link">
                        www.gotoo.com
                    </a>
                </p>

                <p class="mb-2">
                    <i class="custom-icon bi-telephone me-1"></i>

                    <a href="tel: 305-240-9671" class="site-footer-link">
                        777-777-7777
                    </a>
                </p>

                <p>
                    <i class="custom-icon bi-envelope me-1"></i>

                    <a href="mailto:info@yourgmail.com" class="site-footer-link">
                        info@gotoo.com
                    </a>
                </p>

            </div>

            <div class="col-lg-2 col-md-3 col-6 ms-lg-auto">
                <h6 class="site-footer-title">Компании</h6>

                <ul class="footer-menu">
                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">О нас</a></li>

                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">Блог</a></li>

                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">Курсы</a></li>

                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">Контакты</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-3 col-6">
                <h6 class="site-footer-title">Ресурсы</h6>

                <ul class="footer-menu">
                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">Гайд</a></li>

                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">Как это работает</a></li>

                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">Выбрать курс</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-8 col-12 mt-3 mt-lg-0">
                <h6 class="site-footer-title">Новости</h6>

                <form class="custom-form newsletter-form" action="#" method="post" role="form">
                    <h6 class="site-footer-title">Получайте уведомления о новостях</h6>

                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1"><i class="bi-person"></i></span>

                        <input type="text" name="newsletter-name" id="newsletter-name" class="form-control"
                               placeholder="yourname@gmail.com" required>

                        <button type="submit" class="form-control">
                            <i class="bi-send"></i>
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="site-footer-bottom">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-12 d-flex align-items-center">
                    <p class="copyright-text">Copyright © Go Too</p>

                    <ul class="footer-menu d-flex">
                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Privacy Policy</a></li>

                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Terms</a></li>
                    </ul>
                </div>
                <a class="back-top-icon bi-arrow-up smoothscroll d-flex justify-content-center align-items-center"
                   href="#top"></a>

            </div>
        </div>
    </div>
</footer>
<!-- JAVASCRIPT FILES -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/counter.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>